:root {
    --primaryColor: #41A4FF;

    --backgroundColor: #E5E5E5;

    --primaryTextColor: #ffffff;
    --secondaryTextColor: #092C48;
    
    --black: #000000;
}
body {
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#home {
    height: 100vh;
}

#home .vector2 {
    position: absolute;
    height: 100vh;
    width: 100%;
    Top: 0;
    Left: 0;
}

#home .vector1 {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0px;

}

#home img {
    position: absolute;
    height: 341px;
    width: 555px;
    top: 100px;
    border-radius: 0px;
}

#home h2 {
    position: absolute;
    width: 449px;
    height: 138px;
    left: 100px;
    top: 430px;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;

    color: var(--primaryTextColor);

    text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.29);
}

#home h2 span {
    font-weight: 900;
}

#home p {
    position: absolute;
    width: 377px;
    height: 79px;
    left: 100px;
    top: 522px;

    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;

    color: var(--primaryTextColor);
}

.new-updates {
    position: absolute;
    width: 333px;
    height: 500px;
    top: 90px;
    right: -10px;
    

    background: linear-gradient(180deg, #E9E9E9 47.92%, rgba(233, 233, 233, 0) 100%);
    border-radius: 27px;
}

.new-updates h4 {
    position: absolute;
    width: 165px;
    height: 32px;

    top: 20px;
    right: 90px;

    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    /* identical to box height */

    color: var(--secondaryTextColor);
}

.new-updates hr {
    position: absolute;
    top: 40px;
    width: 250px;
    right: 43px;

    border-top: solid 2px #000000;
}